body {
  margin: 0;
  padding: 0;
}
.app-container {
  height: 100vh;
  background-color: #FAF19D;
  
}
.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* this will make it take all available space */
}

.currency-converter-container {
    background-color: #fafffa;
    padding: 2rem;
    border: 2px solid #e1e1e1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    width: 80%;
    max-width: 500px;
    font-family: 'Arial', sans-serif;
    background-color: #5071A9;
    display: flex;
    flex-direction: column; /* Ensure the children are vertically stacked */
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.equals {
    text-align: center;
    
}

.currency-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.currency-row input, .currency-row select {
    width: 45%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.currency-row input:focus, .currency-row select:focus {
    border-color: #0077cc;
}

.container-simple {
  background-color: #fafffa;
  padding: 2rem;
  border: 2px solid #e1e1e1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  width: 80%;
  max-width: 500px;
  font-family: 'Arial', sans-serif;
  background-color: #5071A9;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  }
  label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  input {
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid #585858;
    color: #585858;
    padding: 2px 15px;
  }
  input:focus {
    outline: none;
    border-bottom: 2.4px solid #01e26e;
  }
  .input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .input-wrapper input {
    width: 100%;
  }
  .time-wrapper input {
    width: 60%;
  }
  select {
    width: 35%;
    border: 1px solid #585858;
    font-size: 20px;
    margin-left: 3%;
    padding: 8px 0;
    border-radius: 5px;
  }
  button {
    display: block;
    background-color: #67b06a;
    border: none;
    color: #ffffff;
    margin: 20px auto 0 auto;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 5px;
  }
  #result {
    background-color: #c6ffe2;
    margin-top: 30px;
    color: #585858;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    border-radius: 5px;
  }
  #result div {
    margin-bottom: 10px;
  }
  #result span {
    color: #000000;
    font-weight: 500;
  }

.button-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 20px;  
}
.button-container button {
  margin: 0 10px;
}